body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffebef;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20px;
    padding: 20px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #e63946;
}

p {
    color: #333;
    font-size: 18px;
}

button {
    background-color: #ff4d6d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background-color: #e63946;
}

.hidden {
    display: none;
    margin-top: 20px;
}

video {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Game Container */
.heart {
    font-size: 40px;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
}

.heart:hover {
    transform: scale(1.2);
}

.score {
    font-size: 20px;
    margin-top: 10px;
}

.next-btn {
    font-size: 1.5em;
    padding: 15px 30px;
    background-color: #ff4d79;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

.next-btn:hover {
    background-color: #ff1a5c;
}
